body{
  margin: 0 !important;
}

/* 公共 */
.content-li>h3 {
  display: flex;
  align-items: center;
  color: var(--headerFont);
}

.content-li .borderbotm {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}

/* 第一块 */
.li1-box {
  /* width: 100%; */
  min-height: 50px;
  padding: 40px;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
}

.li1-box blockquote::after {
  margin: 0;
  width: 50px;
  color: var(--mainColor);
  line-height: 55px;
  content: '"';
  position: absolute;
  bottom: -40px;
  right: -25px;
  font-size: 54px;
}

.li1-box blockquote::before {
  margin: 0;
  color: var(--mainColor);
  width: 50px;
  line-height: 55px;
  content: '"';
  position: absolute;
  top: -25px;
  left: -25px;
  font-size: 54px;
}

.li1-box blockquote {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  color: var(--headerFont);
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
}

/* 第二 */
.li2-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.li2-box>div {
  box-sizing: border-box;
  padding: 25px;
  flex: 0 0 48%;
  min-height: 250px;
  margin-bottom: 20px;


  font-weight: 500;
  letter-spacing: .05em;
  -webkit-font-smoothing: antialiased;
}

.li2-box>div p {
  font-size: 13px;
  color: #7B7B7D;
}

.li2-box>div a {
  position: relative;
  display: inline-block;
  color: var(--mainColor);
  margin-top: 10px;
  cursor: pointer;
  padding-right: 30px;
}

.li2-box>div a::after{
  position: absolute;
  right: 10px;
  top: 50%;
  content: '';
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-left: 8px solid var(--mainColor);
  border-bottom: 4px solid transparent;
  animation: bmove 1s infinite;
}

.li2-box svg path{
  fill: var(--headerFont);
}

.li2icon {
  width: 45px;
  height: 45px;
}

/* 第三 */
.li3-box {
  position: relative;
  overflow: hidden;
}

svg {
  vertical-align: sub;
}

.li3-box .left,.li3-box .right{
  transition: .3s ease;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--headerCOlor);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
  color: white;
  top: 10%;
  opacity: 0;
}

.li3-box:hover .left{
  transform: translateX(100%);
  opacity: 1;
  background-color: var(--mainColor);
}

.li3-box:hover .right {
  transform: translateX(-100%);
  opacity: 1;
  background-color: var(--bagColor);
}

.li3-box .left {
  right: 15%;
}

.li3-box .right {
  left: 15%;
}

.li3box-ul {
  min-width: 100%;
  transition: transform 1s ease;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 1s;
  /* min-height: 250px; */
  /* background-color: aqua;
    transition-duration: 0ms;
    transform: translate3d(-0%, 10px, 10px); */
}

.li3box-car {
  display: inline-block;
  height: 300px;
  box-sizing: border-box;
  width: 680px;
  /* text-align: center; */
  padding: 40px;
}

.li3box-car>p {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
  color: var(--headerFont);
  font-style: italic;
  font-size: 16px;
  font-weight: 500;
}

.li3box-car>img {
  width: 50px;
  height: 50px;
  border: solid 3px #FCFCFE;
  border-radius: 50%;
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / 15%);
}

/* wlop */

.li4-box {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

svg {
  vertical-align: sub;
}

.li4-box .left,.li4-box .right{
  transition: .3s ease;
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: var(--headerCOlor);
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
  color: white;
  /* top: translate(-50%); */
  opacity: 0;
}

.li4-box:hover .left{
  transform: translateX(100%);
  opacity: 1;
  background-color: var(--mainColor);
}

.li4-box:hover .right {
  transform: translateX(-100%);
  opacity: 1;
  background-color: var(--bagColor);
}

.li4-box .left {
  right: 15%;
}

.li4-box .right {
  left: 15%;
}

.li4box-ul {
  box-sizing: border-box;
  min-width: 100%;
  display: inline-flex;
  transition: transform 1s ease;
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 1s;
  /* min-height: 250px; */
  /* background-color: aqua;
    transition-duration: 0ms;
    transform: translate3d(-0%, 10px, 10px); */
}

.li4box-car {
  height: 400px;
  box-sizing: border-box;
  width: 680px;
  /* text-align: center;
  border-radius: 10px;
  padding: 20px 20px; */
}

.li4box-car>img {
  box-sizing: border-box;
  width: 680px;
  height: 400px;
  object-fit: cover;
/*   border: solid 3px #FCFCFE; */
  border-radius: 10px;
}

/* 手机*/
@media screen and (max-width: 550px) {
  .content-li{
    display: block;
  }
  .li1{
    display: block !important;
  }
  .li2-box{
    display: block;
  }
  .li3-box{
    display: block;
  }
  .li4-box{
    display: block;
  }
  .li3box-car{
    width:auto;
  }
}
